
body {
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-03/1614773485_207-p-neitralnii-fon-dlya-prezentatsii-218.jpg");
}

.header {
  display: block;
  width: 230px;
  float: right;
}
header {
  height: 100px;
}


header>img {
  text-align: left;
  margin-top: 10px;
}
.header2 {
  color: aqua;

}

.header1 {
  font-size: 22px;
float: right;
color: cadetblue;
background: #13163f;
border: 1px solid cadetblue;
margin-bottom: 5px;
}

.menu1{
  width: 100%;
	display: table;
   }

.menu1 ul {
  display: table-row;
}

.menu1 li {
  display: table-cell;
}

.menu1 li a {
	display: block;
  text-decoration: none;
	padding: 8px 15px;
	color: #fff;
	text-align: center;
}
.menu1 ul li:hover, .menu1 a:hover {
  background: rgb(2, 90, 36);
}


.glav {
  background:#7e1414;
}
.dost {
  background:rgb(23, 187, 228);
 }
.opl {
  background:rgb(170, 170, 50);
}
.akc {
  background:rgb(241, 138, 241);
 }
.stat {
  background: rgb(95, 60, 219);
 }
.kont {
  background:rgb(185, 68, 185);
 }


.menu2 {
   text-decoration: none;
   width: 100%;
   }

 .menu2 ul{
  list-style-type: none;
 }
.menu2 li{
  margin-top: 5px;
}

 .menu2 a{
   text-align: center;
   background:rgb(180, 111, 71);
   display: block;
   padding: 25px;
  text-decoration: none;
  color: rgb(235, 234, 240);
 }


.center {
  color:rgb(77, 10, 71);
    background-image:url("https://i.pinimg.com/originals/97/21/74/972174767e77dd918dd54532980f3e7e.jpg");
    height: 300px;
}

h1 {
text-align: center;
padding-top: 70px;
}

.center>p {
  text-align: center;
  font-size: 22px;
  padding-left: 60px;
  padding-right: 60px;
}

.center>a {
text-transform: uppercase;
text-decoration: none;
margin: 0;
position: absolute;
left: 56%;
}

.button {
  text-align: center;
   text-decoration: none;
  color:white;
    background:rgb(133, 53, 113);
    border:5px solid #63075b;
  margin:20px;
  padding:10px;
  }

.zagolok2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1);
}

.text-zag2chact1{
 grid-column: 1/2;
}

.text-zag2chact2 {
  grid-column: 2/3;
}

.text {
  display: block;
  padding: 20px 70px;
  margin: 15px;
}

.text-zag2chact1 {
  font-size: 18px;
 background: rgb(187, 142, 58);
color: rgb(44, 3, 65);
text-align: center;
}

.text-zag2chact2 {
  font-size: 18px;
 background: rgb(143, 71, 137);
color: aliceblue;
text-align: center;
}

.prostotext {
  color: rgb(90, 19, 76);
  font-size: 22px;
  text-align: center;
}


.kakoytotext {
 padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1);
}

.kakoytotext>div {
  display: block;
  padding: 15px 50px;
  margin: 15px;
 }

.part1 {
  grid-column: 1/2;
  color: #b61111;
  text-align: center;
  background: #8d732b;
  margin: 25px;

}
.part2 {
  grid-column: 2/3;
  color: coral;
  text-align: center;
  background: #8d732b;
margin: 15px;
}

.part3 {
  grid-column: 3/4;
  color: goldenrod;
  text-align: center;
  background: #8d732b;
margin: 10px;
}

#Dopustim {
  margin: 20px;
}

.end {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1);
}

.end>div {
  background: rgb(133, 109, 58);
  display: block;
 padding: 6px;
  }

.pics {
  grid-column: 1/2;
  text-align: left;
}

.cente {
  grid-column: 2/3;
  color: rgb(207, 231, 71);
  text-align: center;
}

.year {
  grid-column: 3/4;
  color:  rgb(207, 231, 71);
  text-align: right;
  }

#teht1 {
  padding-top: 20px;
}

#teht2 {
  padding-top: 20px;
}

.bodycenter {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1) ;
  }

  .menu2 {
    grid-column: 1/4;
     }

  .centralyty {
    grid-column: 4/13;
    margin-left: 10px;
  }